.addBoardButton {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.kanbanBoard {
    /* text-align: left;
    margin-bottom: 32px;
    display: grid;
    justify-content: start;
    margin-bottom: 0;
    grid-template-columns: repeat(10, 1fr);
    text-align: left;
    justify-items: start; */
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    overflow-x: auto; /* 横方向のスクロールを有効化 */
    overflow-y: auto; /* 縦方向のスクロールを有効化 */
    white-space: nowrap; /* 子要素を1行に収めるための設定 */
}